<div class="home">
    <h2>Products:</h2>
    {{#each products}}
        <div class="main-page-products">
            <article>
                <a  href="/products/{{_id}}">
                <img src="{{image}}" alt="product image" ></a>
                <p>{{title}}</p>
                <p>{{price}}</p>
                {{#each rating}}
                    <p>{{rate}}</p>
                {{/each}}
            </article>
        </div>
    {{/each}}
</div>