

<div>
    <h2 class="text-xl m-2">CART</h2>
    <div class="grid grid-cols-3 mt-5">
        <div class="col-span-2">
            <div class="flex flex-col">
                {{#if products}}
                {{#each products}}
                    <div class="rounded border border-2 grid grid-cols-2">
                        <div class="h-24">
                            <img class="max-h-full w-auto" src="{{image}}" alt="product image">
                        </div>
                        <div class="text-right">
                            <h3 class="font-bold">{{title}}</h3>
                            <h3>{{price}}</h3>
                            <br>
                            <form action="/products/{{_id}}/togglecart" method="POST">
                                <button>Remove from the cart</button>
                            </form>
                        </div>
                    </div>
                {{/each}}

                <h4 class="text-right" id="totalPrice">Total: <span>{{totalPrice}}</span></h4>
                <div class="block">
                    <button class="space-x-3 items-center px-3 py-2 bg-green-400 hover:border rounded-full focus:ring focus:ring-black"><a href="/checkout">Proceed to Checkout</a></button>
                </div>
                
                {{else}}
                <p>There is nothing in the basket yet.</p>
                {{/if}}

            </div>
        </div>
        <div></div>
    </div>
</div>




