<h2>Checkout</h2>

<div>
    <h3 class="font-bold">Delivery Address</h3>
    <p>{{user.address}}</p>
</div>

<div>
    <h3 class="font-bold">Payment method</h3>

</div>

<div>
     <h3 class="font-bold">Review your items</h3>

     {{#each products}}
        <div>
            <div>
                <img src="{{product.image}}" alt="product image">
            </div>
            <div>
                <h3>{{title}}</h3>
                <h3>{{price}}</h3>
            </div>
        </div>
    {{/each}}

    <h4 id="totalPrice">Total: <span>{{totalPrice}}</span></h4>
    <button><a href="/checkout">Proceed to Checkout</a></button>

     
</div>
<form action="/confirmmyorder" method="POST">
    <button>Buy now</button>
</form>


