{{#if userInSession}}
<div class="text-xl ">MY ACCOUNT</div>
<br>
<div class="grid grid-cols-3">
    <div class="col-span-2">
        <p class="text-l" style="text-decoration:underline">MY LISTINGS</p> 
        {{#each products}}
            <br>
            <div class="grid grid-cols-3">
                <div class="col-span-1">
                    <a href="/products/{{_id}}"><img class="w-48" src="{{image}}" alt="Photo for {{name}}"></a>
                </div>
                <div class="col-span-1 flex flex-col justify-between" style="margin-left: 15px">
                    <h2 class="font-bold">{{title}}</h2>
                    <h4>{{description}}</h4>
                    <h4>€{{price}}</h4>
                </div>
                <div style="text-align:right; margin-right:20px">
                    <a href="products/{{_id}}/delete">🗑️</a>
                </div>
            </div>

        {{else}}
            <h2>There are no listings yet.</h2>
        {{/each}}

        <br>
        <hr>
        <button class="border space-x-3 items-center px-3 py-2"><a href="/profile/add-product"> + ADD A LISTING</a></button>
    </div>
    <div class="col-span-1">
        <h2 class="text-l" style="text-decoration:underline">ACCOUNT DETAILS</h2>
        <br>
        <h2>Hello {{userInSession.firstName}}!</h2>
        <h2>Email: {{userInSession.email}}</h2>
        <h2>Manage Your Addresses</h2>
        <br><br>
        <a href="/logout">LOGOUT</a>
    </div>
    
</div>
{{else}}
    <div>You're not logged in yet!</div>
{{/if}}
