{{#if userInSession}}
<h2 class="text-xl m-2">MY ACCOUNT</h2>

<div class="flex flex-row justify-between">
    <div>
        <h2>MY LISTINGS</h2>

        {{#each products}}
            <h2 class="mt-4">{{title}}</h2>
            <h4>{{description}}</h4>
            <a href="/products/{{_id}}"><img class="w-48" src="{{imgPath}}" alt="Photo for {{name}}"></a>
            <h3>Delete this listing 
                <a href="products/{{_id}}/delete">❌</a>
            </h3>
        {{else}}
	        <h2>There are no listings yet.</h2>
        {{/each}}

        <a href="/profile/add-product">ADD A LISTING</a>

    </div>
    <div>
        <h2>ACCOUNT DETAILS</h2>
        <h2>Hi {{userInSession.firstName}}!</h2>
        <h2>Email:{{userInSession.email}}</h2>
        <h2>Manage Your Addresses</h2>
        <a href="/logout">Logout</a>
    </div>
    
</div>
{{else}}
    <div>You're not logged in yet!</div>
{{/if}}
