<div class="flex mb-12">
    {{#each products}}
        <div class="basis-1/3">
            <article class="p-3">
                <a  href="/products/{{_id}}">
                <img class="h-60" src="{{image}}" alt="product image" ></a>
                <p>{{title}}</p>
                <p>{{price}}</p>
                {{#each rating}}
                    <p>{{rate}}/5</p>
                {{/each}}
            </article>
        </div>
    {{/each}}
</div>