<img src={{product.image}} alt={{product.title}}>
<h2>{{product.title}}</h2>
<hr>
<p>${{product.price}}</p>
<p>{{product.description}}</p>
<p>Reviews: {{product.rating}}/10</p>
<hr>
<a href="/products">Back</a>