<div class="grid grid-cols-2 gird-flow-row">
  
    <img class="max-w-full h-auto" src={{product.image}} alt={{product.title}}>
    
    <div class="flex flex-col justify-between">
        <div>
            <h2 class="text-xl">{{product.title}}</h2>
            <br>
            <h2>DESCRIPTION: </h2>
            <p>{{product.description}}</p>
            <br>
            <p>SELLER'S REVIEWS:</p>
            {{#each product.rating}}
                <p>{{rate}}/5</p>
            {{/each}}
            <br>
            <p>€{{product.price}}</p>
        </div>
        <div>
            {{#if message}}
            {{message}}
            {{/if}}
            <div class="flex flex-row justify-between">
                <form action="/products/{{product._id}}/togglecart" method="POST">
                    <button class="space-x-3 items-center px-3 py-2 bg-white hover:border rounded-full focus:ring-2 focus:ring-black" type="submit">ADD TO CART</button>
                </form>
                <a class="py-2" href="/products/all">BACK</a>
            </div>
        </div>
    </div>
    
   
    
</div>
