<h2>SEARCH RESULTS FOR: {{search}}</h2>

<div class="grid grid-cols-3">
    {{#each products}}
     <div style="margin: 15px; margin-left: 0" class="flex flex-col justify-between">   
        <div style="padding: 40px; width:320px; height: 360px; display:flex; justify-content: center; align-items: center">
            <a href="/products/{{_id}}">
                <img style="width: 85%; height:auto" src="{{image}}" alt="product image" >
            </a>
        </div>
        <div class="flex flex-row justify-between h-12 mt-3">
            <div>
                <p>{{title}}</p>
            </div>
            
            {{#each rating}}
                <p>{{rate}}/5</p>
            {{/each}}
            <p>€{{price}}</p>
            
        </div>    
     </div>
    {{/each}}
</div>
